body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 1;
}

textarea {
    background: transparent;
    border: none;
    resize: none;
    color: black;
    border-left: 1px solid rgb(41, 80, 49);
    padding: 8px;
}

.jumbotron {
    text-align: center;
    background-color: rgb(227, 222, 205);
    color: rgb(41, 80, 49);
    text-shadow: 2px 2px rgb(169, 164, 147);
    border-radius: 0;
    font-family: 'Shrikhand';
}
.hour {
    color: rgb(41, 80, 49);
    text-shadow: 2px 2px rgb(227, 222, 205);
    font-weight: bold;
    font-size: 1.5rem;
    font-family: 'Shrikhand';
    border-top: 1px;
    text-align: center;
}
.description {
    white-space: pre-wrap;
}

.time-block {
    text-align: center;
    border-radius: 15px;
}

.row {
    white-space: pre-wrap;
    height: 100px;
    border-top: 1px solid white;
    border-spacing:0 15px;

}

.col-md-10 {
    font-family: 'Shadows Into Light Two', cursive;
    font-size: 1.2rem;
}
.past {
    background-color: #d3d3d3;
    color: white;
}

.present {
    background-color: #ff6961;
    color: white;
}

.future {
    background-color: #77dd77;
    color: white;
}
